@import "tailwindcss";

:root {
  --background: #FAF8EC;
  --text-accent: #89d159;
  --text-primary: #643600;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--text-accent);
  --color-primary: var(--text-primary);
  --font-sans: var(--font-tinos);
  --font-mono: var(--font-tinos);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-georama);
}
