@import "tailwindcss";

:root {
  --background: #FAF8EC;
  --background-secondary: #d08b3c;
  --text-accent: #5a3f52;
  --text-primary: #2D2422;
  --text-secondary: #534f4e;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-accent: var(--text-accent);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --font-sans: var(--font-tinos);
  --font-mono: var(--font-tinos);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-georama);
}
